html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100.01%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body {
  width: 960px;
  color: #222;
  font: 100.01%/1.375 Calibri, Frutiger, "Frutiger Linotype", Univers, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
  font-weight: normal;
  color: #111;
  margin-bottom: 22px;
  font-family: Calibri, Frutiger, "Frutiger Linotype", Univers, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.375em;
  line-height: 1.1579;
  border-bottom: 1px solid #ccc;
  margin-bottom: 21px;
}
h2 {
  font-weight: normal;
  color: #111;
  margin-bottom: 22px;
  font-family: Calibri, Frutiger, "Frutiger Linotype", Univers, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.875em;
  line-height: 1.4667;
}
h3 {
  font-weight: normal;
  color: #111;
  margin-bottom: 22px;
  font-family: Calibri, Frutiger, "Frutiger Linotype", Univers, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.375em;
  line-height: 1;
}
h4 {
  font-weight: normal;
  color: #111;
  margin-bottom: 22px;
  font-family: Calibri, Frutiger, "Frutiger Linotype", Univers, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  line-height: 1.1;
}
h5 {
  font-weight: normal;
  color: #111;
  margin-bottom: 22px;
  font-family: Calibri, Frutiger, "Frutiger Linotype", Univers, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
}
h6 {
  font-weight: normal;
  color: #111;
  margin-bottom: 22px;
  font-family: Calibri, Frutiger, "Frutiger Linotype", Univers, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0;
}
h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
h6 img {
  margin: 0;
}
p {
  margin-bottom: 1.375em;
}
a {
  color: #600;
  text-decoration: underline;
}
a:focus,
a:hover {
  color: #990000;
  text-decoration: none;
}
blockquote {
  margin-left: 1em;
  margin-bottom: 1.375em;
}
strong,
dfn {
  font-weight: bold;
}
em,
dfn {
  font-style: italic;
}
pre {
  margin-bottom: 1.375em;
  white-space: pre;
}
pre,
code,
tt,
.code {
  font: 1em/1.375 "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}
li ul,
li ol {
  margin: 0;
}
ul,
ol {
  margin: 0.6875em 1.5em 1.375em 0;
  padding-left: 1.5em;
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
dl {
  margin: 0 0 1.375em 0;
}
dl dt {
  font-weight: bold;
}
dd {
  margin-left: 1.5em;
}
ul.noBullet {
  list-style-type: none;
}
ul.noStyle {
  padding: 0;
  margin: 0;
}
table {
  margin-bottom: 1.375em;
  width: 100%;
}
caption {
  text-align: left;
  font-style: italic;
}
thead {
  border-bottom: 2px solid #222;
}
th {
  vertical-align: bottom;
  font-weight: bold;
  text-align: left;
}
th,
td {
  padding: 5px 10px 5px 5px;
}
th.groups,
td.groups {
  padding: 5px 130px 5px 5px;
}
tbody tr {
  border-bottom: 1px solid #eee;
}
tbody tr:hover {
  color: red;
}
tfoot {
  font-style: italic;
}
input,
textarea {
  font: inherit;
}
input[readonly] {
  color: #666;
}
label {
  font-size: smaller;
  width: 30em;
}
.validation-failed {
  border: 2px solid red;
}
.validation-message {
  color: red;
  font-size: smaller;
}
.form-action-link {
  font-size: smaller;
}
textarea {
  width: 100%;
  height: 8em;
  background-color: #f6f6f6;
}
.content-edit input[type=text] {
  width: 40em;
}
.content-edit textarea {
  width: 40em;
  height: 15em;
}
.admin-edit input[type=text] {
  width: 20em;
  float: right;
}
.admin-edit textarea {
  width: 34em;
  height: 20em;
  float: right;
}
.admin-edit select {
  width: 20em;
  float: right;
}
.admin-edit input[type=password] {
  width: 20em;
  float: right;
}
.login-edit .layout {
  font-size: smaller;
  width: 10em;
}
.login-edit #form-element-acronym {
  width: 20em;
}
.login-edit #form-element-password {
  width: 20em;
}
.login-edit .submitLayout {
  float: right;
}
html {
  background-color: #2e4361;
}
body {
  margin: 0 auto;
  padding: 0;
  color: #333;
  background-color: #6ca428;
  font: ;
}
#outer-wrap-header {
  height: 88px;
  margin-bottom: 11px;
}
#inner-wrap-header {
  width: 960px;
  margin: 0 auto;
  *zoom: 1;
}
#inner-wrap-header:before,
#inner-wrap-header:after {
  content: "";
  display: table;
}
#inner-wrap-header:after {
  clear: both;
}
#header {
  display: inline;
  float: left;
  width: 940px;
  margin: 0 10px;
}
#login-menu {
  float: right;
  font-size: 0.95em;
}
#login-menu img.gravatar {
  vertical-align: middle;
}
#login-menu a {
  text-decoration: none;
}
#login-menu a:hover {
  text-decoration: underline;
}
#banner {
  display: table;
  margin-bottom: 7.3333333333333px;
}
#banner #site-logo {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#banner #site-title {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 4em;
  color: #ff0000;
  padding-left: 0.2em;
  text-shadow: #ccc 4px -4px 4px;
}
#banner #site-title a {
  text-decoration: none;
  color: #ff0000;
  font-family: 'Comic Sans MS', 'Trebuchet MS', Arial;
}
#banner #site-slogan {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 1.5em;
  padding-left: 20px;
  color: #ff0000;
  font-family: 'Comic Sans MS', 'Trebuchet MS', Arial;
  font-style: italic;
}
#outer-wrap-navbar {
  background-color: #5b5743;
  height: 33px;
  margin: -9px -10px 10px -10px;
}
#inner-wrap-navbar {
  width: 960px;
  margin: 0 auto;
  *zoom: 1;
  height: 22px;
}
#inner-wrap-navbar:before,
#inner-wrap-navbar:after {
  content: "";
  display: table;
}
#inner-wrap-navbar:after {
  clear: both;
}
#navbar ul.menu {
  list-style-type: none;
  padding: 2px 8px;
}
#navbar ul.menu li {
  padding: 1em;
  margin: 1em;
  display: inline;
}
#navbar ul.menu li a {
  padding: 6px 8px;
  text-decoration: none;
  border: 2px solid transparent;
}
#navbar ul.menu li a:hover {
  background: #ddd;
  border: 2px solid #999;
}
#navbar ul.menu li a.selected {
  background: #ccc;
  border: 2px solid #999;
}
#my-navbar ul.menu {
  list-style-type: none;
  padding: 2px 20px;
  margin-top: 3px;
}
#my-navbar ul.menu li {
  padding: 0;
  margin: 0;
  display: inline;
}
#my-navbar ul.menu li a {
  padding: 6px 20px;
  text-decoration: none;
  color: #518cdc;
  border: 1px solid #5b5743;
  font-weight: bold;
}
#my-navbar ul.menu li a:hover {
  background-color: #518cdc;
  color: #60002a;
  border: 1px solid #a88e6d;
  font-weight: bold;
}
#my-navbar ul.menu li a.selected {
  color: #6ca428;
  background-color: #5b5743;
  border: 3px solid #333;
  font-weight: bold;
}
#ucp-navbar {
  margin-bottom: ;
}
#ucp-navbar ul.menu {
  list-style-type: none;
  padding: 2px 8px;
  margin: 0;
}
#ucp-navbar ul.menu li {
  padding: 0;
  margin: 0;
  display: inline;
}
#ucp-navbar ul.menu li a {
  padding: 6px 8px;
  text-decoration: none;
  border: 2px solid;
  color: #518cdc;
}
#ucp-navbar ul.menu li a:hover {
  background: #ddd;
  border: 2px solid #333;
  font-weight: bold;
}
#ucp-navbar ul.menu li a.selected {
  background: #ccc;
  border: 2px solid #333;
  font-weight: bold;
}
ul.nb-plain {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.nb-plain li {
  padding: 0 1em 0 0;
  margin: 0;
  display: inline;
}
ul.nb-plain li:last-child {
  padding-right: 0;
}
ul.nb-plain li.selected a,
ul.nb-plain li.current-menu-item a {
  color: #2e4361;
  text-decoration: underline;
}
ul.nb-plain a {
  text-decoration: none;
  text-transform: uppercase;
  color: #2e4361;
}
ul.nb-plain a:hover {
  color: red;
  text-decoration: underline;
}
ul.nb-tab {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ff0000;
}
ul.nb-tab li {
  padding: 0;
  margin: 0 0.3em;
  display: inline-block;
  background-color: #518cdc;
  border-top: 1px solid #2e4361;
  border-left: 1px solid #2e4361;
  border-right: 1px solid #2e4361;
}
ul.nb-tab li:first-child {
  margin-left: 0.5em;
}
ul.nb-tab li:last-child {
  margin-right: 0;
}
ul.nb-tab li:hover {
  background-color: #f6f6f6;
  border-color: red;
}
ul.nb-tab li.selected,
ul.nb-tab li.current-menu-item {
  background-color: lightblue;
  border-color: #2e4361;
}
ul.nb-tab li.selected a,
ul.nb-tab li.current-menu-item a {
  color: #2e4361;
  padding-bottom: 2px;
  background-color: lightblue;
}
ul.nb-tab a {
  text-decoration: none;
  color: #2e4361;
  padding: 0 1em;
}
ul.nb-tab a:hover {
  color: red;
}
ul.nb-tab a:active {
  color: pink;
  background-color: #6ca428;
}
#inner-wrap-flash {
  width: 960px;
  margin: 0 auto;
  *zoom: 1;
  height: 66px;
  margin-bottom: 22px;
}
#inner-wrap-flash:before,
#inner-wrap-flash:after {
  content: "";
  display: table;
}
#inner-wrap-flash:after {
  clear: both;
}
#flash {
  display: inline;
  float: left;
  width: 940px;
  margin: 0 10px;
  height: 100%;
}
#inner-wrap-featured {
  width: 960px;
  margin: 0 auto;
  *zoom: 1;
  height: 110px;
  margin-bottom: 22px;
}
#inner-wrap-featured:before,
#inner-wrap-featured:after {
  content: "";
  display: table;
}
#inner-wrap-featured:after {
  clear: both;
}
#featured-first,
#featured-middle,
#featured-last {
  display: inline;
  float: left;
  width: 300px;
  margin: 0 10px;
  height: 100%;
}
#outer-wrap-main {
  margin: 0 30px;
}
#inner-wrap-main {
  width: 960px;
  margin: 0 auto;
  *zoom: 1;
  margin-bottom: 22px;
}
#inner-wrap-main:before,
#inner-wrap-main:after {
  content: "";
  display: table;
}
#inner-wrap-main:after {
  clear: both;
}
#primary {
  display: inline;
  float: left;
  width: 540px;
  margin: 0 10px;
}
#sidebar {
  display: inline;
  float: left;
  width: 300px;
  margin: 0 10px;
}
#sidebar .box {
  border-top: 4px double #ccc;
  padding-top: 11px;
  margin-bottom: 51px;
}
#inner-wrap-triptych {
  width: 960px;
  margin: 0 auto;
  *zoom: 1;
  height: 110px;
  margin-bottom: 22px;
}
#inner-wrap-triptych:before,
#inner-wrap-triptych:after {
  content: "";
  display: table;
}
#inner-wrap-triptych:after {
  clear: both;
}
#triptych {
  height: inherit;
}
#triptych-first,
#triptych-middle,
#triptych-last {
  display: inline;
  float: left;
  width: 300px;
  margin: 0 10px;
  height: 100%;
}
#outer-wrap-footer-column {
  background-color: rgba(204,204,204,0.5);
  border-top: 1px solid #bbb;
}
#inner-wrap-footer-column {
  width: 960px;
  margin: 0 auto;
  *zoom: 1;
  height: 110px;
  padding-bottom: 22px;
}
#inner-wrap-footer-column:before,
#inner-wrap-footer-column:after {
  content: "";
  display: table;
}
#inner-wrap-footer-column:after {
  clear: both;
}
#footer {
  height: inherit;
}
#footer-column-one,
#footer-column-two,
#footer-column-three,
#footer-column-four {
  display: inline;
  float: left;
  width: 212px;
  margin: 0 10px;
  font-size: 0.8em;
  margin-top: 1em;
  height: 100%;
  padding-left: 0.5em;
  background-color: rgba(230,230,230,0.5);
}
#outer-wrap-footer {
  background-color: rgba(204,204,204,0.5);
}
#inner-wrap-footer {
  width: 960px;
  margin: 0 auto;
  *zoom: 1;
}
#inner-wrap-footer:before,
#inner-wrap-footer:after {
  content: "";
  display: table;
}
#inner-wrap-footer:after {
  clear: both;
}
#footer {
  display: inline;
  float: left;
  width: 940px;
  margin: 0 10px;
  font-size: 0.80em;
  color: #666;
  padding-bottom: 22px;
}
a {
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: #5C0A0A;
}
a:focus {
  text-decoration: none;
  color: #5C0A0A;
}
.error,
.alert,
.warning,
.notice,
.success,
.info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #ddd;
}
.error,
.alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
.notice,
.warning {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
.success {
  background: #edd51e;
  color: #264409;
  border-color: #c6d880;
}
.info {
  background: #BFEFFF;
  color: #205791;
  border-color: #92cae4;
}
.error a,
.alert a {
  color: #8a1f11;
}
.notice a,
.warning a {
  color: #514721;
}
.success a {
  color: #264409;
}
.info a {
  color: #205791;
}
.smaller-text {
  font-size: smaller;
}
.silent {
  color: #999;
}
.smaller-text-up {
  font-size: 0.9em;
}
.like_h6 {
  font-weight: normal;
  color: #111;
  margin-bottom: 22px;
  font-family: Calibri, Frutiger, "Frutiger Linotype", Univers, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0;
}
.well {
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  margin-bottom: 1em;
  padding: 1em;
}
.layout {
  display: inline-block;
  width: 200px;
  height: 1.75em;
}
#sidecolor {
  margin: 40px 0px 0px 10px;
  padding: 20px;
  background-color: #BFEFFF;
}
#headcolor {
  margin: 40px 0px;
  padding: 20px 10px;
  background-color: #BFEFFF;
}
.bold {
  font-weight: bold;
}
.bloglink a {
  text-decoration: none;
  line-height: 0.5;
  margin: 0;
  padding: 0;
}
.bloglink a:focus,
.bloglink a:hover {
  color: purple;
  text-decoration: underline;
}
