/**
* Description: Sample theme for site which extends the Siteshop bb-theme.
*/

@import url(../../../themes/bb/style.php);


#outer-wrap-header{background-image:url('heaven.jpg');border-bottom:3px solid #A04646;}
#outer-wrap-footer{background-color:#87CEFA;}
.guestbook{background-color:#BFEFFF; border:1px solid #ccc;margin-bottom:1em;padding:1em;}


/*
* Use the following code if you want to change into the grid theme
*

@import url(../../../themes/grid/style.php);

html{background-color:purple;}
body{background-color:lightcyan;}
#outer-wrap-header{background-color:blueviolet;border-bottom:3px solid purple}
#outer-wrap-footer{background-color:lightskyblue}
a{color:orange}
#navbar ul.menu li a:hover{background-color:purple; color: orange;}
#my-navbar ul.menu li a:hover{background-color:purple; color: orange;}
#navbar ul.menu li a.selected{background-color:blueviolet;}
#my-navbar ul.menu li a.selected{background-color:blueviolet;}

.guestbook{background-color:#f6f6f6;border:1px solid #ccc;margin-bottom:1em;padding:1em;}
*/